html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(62, 143, 212, 0.42), rgba(39, 82, 113, 0.28)), url(background.png);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #acb7974a;
  border: 1px solid transparent;
  color: white;
  padding: 3px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #575854;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

header {
  background: rgb(31, 30, 30);
  color: white;  
  padding: 15px 10%; 
  position: relative; 
}

header h1 {
  margin: 0;
  padding: 15px 0;
  display: inline;
}

.generate-controls {
  color: white;
  border: 1px solid rgba(0, 208, 255, 0);
  padding: 15px;
  background-color: #00000073;
}

#table td{
  border: .5px solid #fff0;
  width: 10px;
  height: 10px;
  padding: 0;
}


.dot {
  background: #0c4475;
  width: 100%;
  height: 100%;
}

.blank {
  background: rgba(2, 133, 183, .309);
  width: 100%;
  height: 100%;
}

.generate-controls {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 50px;
  text-align: center;
}

.table-container table {
  margin: 0 auto;
}

.grid-size-ctrl,
.speed-ctrl,
.main-ctrl {
  margin-bottom: 10px;
}

span {
  margin: 0 15px;
}

.firm {
  display: inline;
  position: absolute;
  right: 10%;
  line-height: 60px;
}

.firm a {
  color: rgb(133, 230, 236);
}